
.metadata/
ProgrammingElements/.settings/
ProgrammingElements/.classpath
ProgrammingElements/.project


ProgrammingElements/bin/
ProgrammingElements/**/*.class
ProgrammingElements/src/module-info.java


ControlFlows/.settings/
ControlFlows/.classpath
ControlFlows/.project
ControlFlows/bin/
ControlFlows/**/*.class