
.metadata/
ProgrammingElements/.settings/
ProgrammingElements/.classpath
ProgrammingElements/.project


ProgrammingElements/bin/
ProgrammingElements/**/*.class
ProgrammingElements/src/module-info.java


ControlFlows/.settings/
ControlFlows/.classpath
ControlFlows/.project
ControlFlows/bin/
ControlFlows/**/*.class


Arrays/.settings/
Arrays/.classpath
Arrays/.project
Arrays/bin/
Arrays/**/*.class

Methods/.settings/
Methods/.classpath
Methods/.project
Methods/bin/
Methods/**/*.class

Strings/.settings/
Strings/.classpath
Strings/.project
Strings/bin/
Strings/**/*.class

BuiltInFunctions/.settings/
BuiltInFunctions/.classpath
BuiltInFunctions/.project
BuiltInFunctions/bin/
BuiltInFunctions/**/*.class