ClassAndObject/.settings/
ClassAndObject/.classpath
ClassAndObject/.project
ClassAndObject/bin/


Constructors/.settings/
Constructors/.classpath
Constructors/.project
Constructors/bin/


Operator/.settings/
Operator/.classpath
Operator/.project
Operator/bin/

Inheritance/.settings/
Inheritance/.classpath
Inheritance/.project
Inheritance/bin/